.footer {
  position: fixed;
  bottom: 0%;
  width: 100vw;
  height: 7vh;
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-desc {
  font-size: large;
  font-family: cursive;
}
.footer-logo {
  position: fixed;
  right: 2%;
}
